<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.png"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Serif:400,700,400italic|Open+Sans:700,600,400,300" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

  <div id="wrapper">
    <section>
      <div class="title page-title">
        <div class="hamburger">
          <img src="{{asset "images/hamburger.svg"}}">
        </div>

        <h1 class="title-text"><a class="title-text" href="..">{{@blog.title}}</a></h1>
      </div>

      <div class="sidebar-overlay"></div>
      <nav class="nav-bar sidebar" id="navbar" role="navigation">
        <ul class="sidebar-nav">
          <li><a href="http://seatrain.co/projects/">Photography</a></li>
          <li><a id="current-page" href="{{@blog.url}}">Writing</a></li>
          <li><a href="http://seatrain.co/travel/">Travel</a></li>
          <li><a href="http://seatrain.co/work/">Work</a></li>
          <li><a href="http://seatrain.co/about/">About</a></li>
        </ul>
      </nav>

    {{! Everything else gets inserted here }}
    {{{body}}}

</section>

    <footer class="site-footer clearfix">
      <div class="social-bar">

  			<!-- Twitter -->
  			<div class="button-wrapper">
  				<a href="https://twitter.com/_andrewcraig">
  					<div class="social-button twitter-button-background">
  						<svg width="40px" height="40px" viewBox="0 0 56 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
  					  	<path d="M23.2876882,41 C19.8661073,41 16.6813095,39.9970204 14,38.2779663 C14.4739983,38.3339214 14.9563143,38.3625471 15.4453276,38.3625471 C18.2839164,38.3625471 20.8964164,37.3939184 22.969997,35.768951 C20.3187174,35.7200172 18.0811602,33.9683407 17.3102107,31.5611897 C17.6800764,31.6319437 18.0596638,31.6698593 18.4500535,31.6698593 C19.0026915,31.6698593 19.537938,31.5958645 20.0463952,31.457381 C17.2745636,30.9008543 15.186184,28.4520069 15.186184,25.5164147 C15.186184,25.4909216 15.186184,25.4655366 15.1866161,25.4402596 C16.0035827,25.8940579 16.9377527,26.1665961 17.9310103,26.1980304 C16.3052868,25.1115502 15.2355498,23.2570371 15.2355498,21.1550468 C15.2355498,20.0446939 15.5343373,19.0039068 16.0558651,18.1090567 C19.0441718,21.7746582 23.5085922,24.1867781 28.5441223,24.4394404 C28.4408537,23.9960122 28.387167,23.5335721 28.387167,23.0587097 C28.387167,19.7127438 31.1000189,17 34.4462008,17 C36.1888035,17 37.7634329,17.7358424 38.8687089,18.9133848 C40.2487915,18.6416027 41.5454815,18.1373583 42.7161104,17.4431042 C42.2637164,18.8578617 41.3030813,20.045234 40.0520843,20.7951193 C41.2776962,20.6486421 42.4454086,20.3229573 43.5319968,19.8410734 C42.7196751,21.0560991 41.6923907,22.1232435 40.5086912,22.9774775 C40.5203575,23.2372692 40.5261906,23.4985732 40.5261906,23.7612815 C40.5261906,31.7677268 34.43205,41 23.2876882,41" id="path-1" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
  						</svg>
  					</div>
  				</a>
  			</div>

  			<!-- Instagram -->
  			<div class="button-wrapper">
  				<a href="https://www.instagram.com/andrewc/">
  					<div class="social-button instagram-button-background">
  						<svg width="40px" height="40px" viewBox="0 0 56 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
  							<path d="M39.6545753,26.2677527 L37.1300069,26.2677527 C37.3139566,26.9817747 37.4225842,27.7278213 37.4225842,28.4992314 C37.4225842,33.4279555 33.4279555,37.4225842 28.5,37.4225842 C23.5723007,37.4225842 19.5774158,33.4279555 19.5774158,28.4992314 C19.5774158,27.7278213 19.6865558,26.9817747 19.8705055,26.2677527 L17.3456809,26.2677527 L17.3456809,38.5378112 C17.3456809,39.152941 17.8452657,39.6522696 18.4621888,39.6522696 L38.5380674,39.6522696 C39.1549905,39.6522696 39.6545753,39.1531972 39.6545753,38.5378112 L39.6545753,26.2677527 L39.6545753,26.2677527 Z M39.6545753,18.4606516 C39.6545753,17.8450095 39.1549905,17.3454247 38.5380674,17.3454247 L35.1926427,17.3454247 C34.5764882,17.3454247 34.0771596,17.8450095 34.0771596,18.4606516 L34.0771596,21.8073573 C34.0771596,22.4229995 34.576232,22.9225842 35.1926427,22.9225842 L38.5380674,22.9225842 C39.1549905,22.9225842 39.6545753,22.4229995 39.6545753,21.8073573 L39.6545753,18.4606516 L39.6545753,18.4606516 Z M28.4997438,22.9225842 C25.4194834,22.9225842 22.9228404,25.418971 22.9228404,28.4992314 C22.9228404,31.5789795 25.4194834,34.0766472 28.4997438,34.0766472 C31.5800042,34.0766472 34.0771596,31.5789795 34.0771596,28.4992314 C34.0771596,25.418971 31.5800042,22.9225842 28.4997438,22.9225842 L28.4997438,22.9225842 Z M39.6545753,42.9994876 L17.3454247,42.9994876 C15.4979858,42.9994876 14,41.5009895 14,39.6520134 L14,17.3454247 C14,15.4977296 15.4979858,14 17.3454247,14 L39.6545753,14 C41.5022704,14 43,15.4977296 43,17.3454247 L43,39.6520134 C42.9997438,41.5009895 41.5022704,42.9994876 39.6545753,42.9994876 L39.6545753,42.9994876 Z" id="Shape" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
  						</svg>
  					</div>
  				</a>
  			</div>

  			<!-- Linkedin -->
  			<div class="button-wrapper">
  				<a href="https://www.linkedin.com/in/acraig4/">
  					<div class="social-button linkedin-button-background">
  						<svg width="40px" height="40px" viewBox="0 0 56 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
  							<g id="in-wordmark" transform="translate(14.000000, 13.000000)" fill="#FFFFFF" sketch:type="MSShapeGroup">
  	                <path d="M4.05537181,0.92460613 C5.85351735,0.92460613 7.31510317,2.37348728 7.31510317,4.15669889 C7.31510317,5.94182493 5.85351735,7.39070607 4.05537181,7.39070607 C2.25248596,7.39070607 0.79511373,5.94182493 0.79511373,4.15669889 C0.79511373,2.37348728 2.25248596,0.92460613 4.05537181,0.92460613 L4.05537181,0.92460613 L4.05537181,0.92460613 L4.05537181,0.92460613 Z M1.24157775,9.84344873 L6.86863926,9.84344873 L6.86863926,27.7832952 L1.24157775,27.7832952 L1.24157775,9.84344873 L1.24157775,9.84344873 L1.24157775,9.84344873 Z" id="Fill-4"></path>
  	                <path d="M10.4512362,9.72579788 L15.847253,9.72579788 L15.847253,12.1761039 L15.9239753,12.1761039 C16.6750461,10.7660336 18.510236,9.27851563 21.2466055,9.27851563 C26.9380998,9.27851563 27.9893881,12.9932207 27.9893881,17.8254352 L27.9893881,27.6656444 L22.3712805,27.6656444 L22.3712805,18.9419004 C22.3712805,16.8602105 22.3300226,14.184349 19.4475822,14.184349 C16.5207237,14.184349 16.0742596,16.450869 16.0742596,18.7908339 L16.0742596,27.6656444 L10.4512362,27.6656444 L10.4512362,9.72579788" id="Fill-5"></path>
  	            </g>
  						</svg>
  					</div>
  				</a>
  			</div>

  			<!-- Email -->
  			<div class="button-wrapper">
  				<script language="JavaScript">
  					var username = "andrew.craig.au";
  					var hostname = "gmail.com";
  					document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>");
  					</script>
  					<div class="social-button email-button-background">
  						<svg width="40px" height="40px" viewBox="0 0 56 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
  							<path d="M34.1764706,20.7205882 L36.8676471,20.7205882 L33.4264706,32.6764706 C33.279411,33.205885 33.2058824,33.6323513 33.2058824,33.9558824 C33.2058824,34.6911801 33.4999971,35.0588235 34.0882353,35.0588235 C34.4411782,35.0588235 34.9632318,34.9485306 35.6544118,34.7279412 C36.3455917,34.5073518 37.0441142,34.0661798 37.75,33.4044118 C38.4558858,32.7426437 39.0735267,31.8308882 39.6029412,30.6691176 C40.1323556,29.5073471 40.3970588,27.9705978 40.3970588,26.0588235 C40.3970588,24.4999922 40.0882384,23.0735358 39.4705882,21.7794118 C38.852938,20.4852877 38.022064,19.3750046 36.9779412,18.4485294 C35.9338183,17.5220542 34.7353009,16.8014731 33.3823529,16.2867647 C32.029405,15.7720563 30.6323601,15.5147059 29.1911765,15.5147059 C27.2794022,15.5147059 25.5073611,15.8602907 23.875,16.5514706 C22.2426389,17.2426505 20.8161826,18.2058762 19.5955882,19.4411765 C18.3749939,20.6764767 17.4191211,22.1396974 16.7279412,23.8308824 C16.0367613,25.5220672 15.6911765,27.3529313 15.6911765,29.3235294 C15.6911765,31.2058917 16.051467,32.91911 16.7720588,34.4632353 C17.4926507,36.0073607 18.4485235,37.323524 19.6397059,38.4117647 C20.8308883,39.5000054 22.1985216,40.3382324 23.7426471,40.9264706 C25.2867725,41.5147088 26.8970505,41.8088235 28.5735294,41.8088235 C30.8382466,41.8088235 32.8308738,41.3529458 34.5514706,40.4411765 C36.2720674,39.5294072 37.6470537,38.3088312 38.6764706,36.7794118 L41.3676471,36.7794118 C40.8676446,38.0735358 40.1544164,39.1911718 39.2279412,40.1323529 C38.3014659,41.0735341 37.242653,41.8602909 36.0514706,42.4926471 C34.8602882,43.1250032 33.5661834,43.5955867 32.1691176,43.9044118 C30.7720519,44.2132368 29.3529483,44.3676471 27.9117647,44.3676471 C25.9999904,44.3676471 24.1470678,44.0000037 22.3529412,43.2647059 C20.5588145,42.5294081 18.9705951,41.5000066 17.5882353,40.1764706 C16.2058755,38.8529346 15.0955924,37.2794209 14.2573529,35.4558824 C13.4191135,33.6323438 13,31.6323638 13,29.4558824 C13,26.9264579 13.4411721,24.6470689 14.3235294,22.6176471 C15.2058868,20.5882252 16.3896985,18.8603012 17.875,17.4338235 C19.3603015,16.0073458 21.0808726,14.9117685 23.0367647,14.1470588 C24.9926568,13.3823491 27.0588127,13 29.2352941,13 C31.0000088,13 32.713227,13.3161733 34.375,13.9485294 C36.036773,14.5808855 37.5073466,15.4632296 38.7867647,16.5955882 C40.0661829,17.7279468 41.0882314,19.0808745 41.8529412,20.6544118 C42.6176509,22.227949 43,23.955873 43,25.8382353 C43,27.7500096 42.7132382,29.4411691 42.1397059,30.9117647 C41.5661736,32.3823603 40.8014753,33.6176421 39.8455882,34.6176471 C38.889701,35.617652 37.8014767,36.3676446 36.5808824,36.8676471 C35.360288,37.3676495 34.1029476,37.6176471 32.8088235,37.6176471 C32.0441138,37.6176471 31.4338258,37.3750024 30.9779412,36.8897059 C30.5220566,36.4044093 30.2647062,35.8235328 30.2058824,35.1470588 C29.5882322,36.0294162 28.8970627,36.6617628 28.1323529,37.0441176 C27.3676432,37.4264725 26.4705934,37.6176471 25.4411765,37.6176471 C24.4999953,37.6176471 23.6544155,37.4338253 22.9044118,37.0661765 C22.154408,36.6985275 21.5220613,36.2132383 21.0073529,35.6102941 C20.4926445,35.00735 20.0955897,34.3235333 19.8161765,33.5588235 C19.5367633,32.7941138 19.3970588,32.0147098 19.3970588,31.2205882 C19.3970588,29.9264642 19.6249978,28.6176537 20.0808824,27.2941176 C20.536767,25.9705816 21.1691137,24.7720642 21.9779412,23.6985294 C22.7867687,22.6249946 23.7647002,21.7500034 24.9117647,21.0735294 C26.0588292,20.3970554 27.3235225,20.0588235 28.7058824,20.0588235 C29.3823563,20.0588235 29.9852914,20.1764694 30.5147059,20.4117647 C31.0441203,20.64706 31.4926452,20.9338218 31.8602941,21.2720588 C32.2279431,21.6102958 32.5367635,21.9558806 32.7867647,22.3088235 C33.0367659,22.6617664 33.2058819,22.970587 33.2941176,23.2352941 L34.1764706,20.7205882 L34.1764706,20.7205882 L34.1764706,20.7205882 Z M31.2205882,30.6470588 C31.4558836,29.8823491 31.6397052,29.2500025 31.7720588,28.75 C31.9044125,28.2499975 32.0073525,27.8455897 32.0808824,27.5367647 C32.1544121,27.2279397 32.1985294,26.9926478 32.2132353,26.8308824 C32.2279412,26.6691169 32.2352941,26.5294123 32.2352941,26.4117647 C32.2352941,25.294112 31.8970622,24.3897093 31.2205882,23.6985294 C30.5441142,23.0073495 29.7205931,22.6617647 28.75,22.6617647 C27.9558784,22.6617647 27.1691216,22.9264679 26.3897059,23.4558824 C25.6102902,23.9852968 24.9117678,24.6544077 24.2941176,25.4632353 C23.6764675,26.2720629 23.1838253,27.154407 22.8161765,28.1102941 C22.4485276,29.0661813 22.2647059,29.970584 22.2647059,30.8235294 C22.2647059,31.3529438 22.3308817,31.8749975 22.4632353,32.3897059 C22.5955889,32.9044144 22.8014692,33.367645 23.0808824,33.7794118 C23.3602955,34.1911785 23.720586,34.5220576 24.1617647,34.7720588 C24.6029434,35.0220601 25.1323498,35.1470588 25.75,35.1470588 C26.8676527,35.1470588 27.9411713,34.7573568 28.9705882,33.9779412 C30.0000051,33.1985255 30.7499976,32.0882425 31.2205882,30.6470588 L31.2205882,30.6470588 L31.2205882,30.6470588 Z" id="@" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
  						</svg>
  					</div>
  				</a>
  			</div>

  		</div>

  	</footer>
</div>


    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>
    $(document).ready(function() {
        var overlay = $('.sidebar-overlay');

        $('.hamburger').on('click', function() {
            var sidebar = $('#navbar');
            sidebar.toggleClass('open');
            if (sidebar.hasClass('open')) {
                overlay.addClass('active');
            } else {
                overlay.removeClass('active');
            }
        });

        overlay.on('click', function() {
            $(this).removeClass('active');
            $('#navbar').removeClass('open');
        });
    });
    </script>

    {{! Google Analytics }}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-54750854-1', 'auto');
      ga('send', 'pageview');

    </script>


</body>
</html>
